
<div class="hero d-flex justify-content-center align-items-center mt-3 md-5">
    <div class="text-pop-up-top">
    <h1 class="text-white d-flex justify-content-center align-items-center fw-bold display-1 display-md-3">Your Private path</h1> 
        <h1 class="text-white d-flex justify-content-center align-items-center fw-bold display-1 display-md-3">to Excellence</h1>
    </div>
</div>
<div class="landing-text">
        <p class="tag-line d-flex justify-content-center align-items-center mt-3 text-white fs-4">Your journey to a better you starts here, right now.</p>
</div>
    
<div class="landing-video">
    <div class="spiderman d-flex justify-content-center align-items-center">
    <video autoplay loop playsInline muted height="500" width="auto">
        <source src="elearnV.mp4" type="video/mp4">
    </video>
    </div>
</div>
