<div>
    <h1 class="couse-heading d-flex justify-content-center align-items-center mt-4 ">Courses</h1>   
</div>

<div class="course-container p-4 gap-5 ms-4">

    <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://cdn.hackr.io/uploads/posts/large/1645569219Uf9MiJJbUs.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

    <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://cdn.hackr.io/uploads/posts/large/1645569219Uf9MiJJbUs.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

    <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://cdn.hackr.io/uploads/posts/large/1645569219Uf9MiJJbUs.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

    <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://cdn.hackr.io/uploads/posts/large/1645569219Uf9MiJJbUs.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

    <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://cdn.hackr.io/uploads/posts/large/1645569219Uf9MiJJbUs.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

    <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://cdn.hackr.io/uploads/posts/large/1645569219Uf9MiJJbUs.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

    <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://cdn.hackr.io/uploads/posts/large/1645569219Uf9MiJJbUs.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>



</div>  