<div class="container-fluid d-flex justify-content-center text-white p-2 mt-5">
<h2>Create course</h2>
</div>

 <div class="sidebar text-white  d-lg-block">
    <h4></h4>
    <div class="my-anchors">
    <a href="">Assessment</a>
    <a href="">Course List</a>
    <a href="">Services</a> 
    <a href="">Contact</a>
    </div>

    <div class="logo-container d-lg-none">
  <img src="logo1.png" alt="Logo 1">
  <img src="logo2.png" alt="Logo 2">
</div>
</div>
 

<!-- 

<div class="form-container">

<form (ngSubmit)="onSubmit()" [formGroup]="courseForm" >

    <div>
        <label>Course Title</label>
        <input id="title" formControlName="title" placeholder="Course Title">
    </div>

    <div>
        <label>Description</label>
        <textarea id="description" formControlName="description" placeholder="Course description"></textarea>
    </div>

    <div>
        <label>Upload File</label>
        <input id="upload" type="file" (change)="onFileSelected($event)">
    </div>

    <div>
        <button type="submit">Create</button>
    </div>



</form>
</div>  -->