/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
body{
    background-image: url('../public/ffflux1.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

html,
body{
    height: 100%;
    margin: 0;
}